body {
  background: rgb(0, 0, 43);
  padding:50px;
}

div#crypto-container {
  background:white;
  width: 70%;
  margin: 0 auto 4px auto;
  padding: 1em;
  box-shadow: 1px 1px 0 darkgray;
}

div.Header{
  Color: White;
  text-align: center
}
span.left {
  font-weight: bold;
}

span.right {
  float:right;
}